<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <!-- FAVICON -->
    <link 
    id="favicon" 
    rel="icon"
    href="./assets/destinations-icon.ico"
    type="image/png" 
    sizes="70x70"
    >

    <title><%= title %></title>
