<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<section>
  <div>
    <img src="/assets/destinations-icon.png" alt="Destinations Icon">
    <h1>Welcome to Destinations</h1>
    <h4>Please log in to share your destination reviews, and keep track of both the destinations you have visited and your bucket list destinations!</h4>
  </div>
</section>

<%- include('./partials/footer') %>
