<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Destinations</h1>
  <p>Please log in to share your destination reviews, and keep track of both the destinations you have visited and your bucket list destinations!</p>
</main>

<%- include('./partials/footer') %>
