* {
  background-color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080808;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #080808;
}

section > div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 80%;
}

.add-destination {
  background-color: #7C92FD;
  border: 3px solid #7C92FD;
  margin-bottom: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #080808;
  border: 3px solid #080808;
  color: white;
  font-weight: 600;
}

.all-cards {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.destination-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #080808;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  width: 45%;
}

.destination-card > a:hover {
  color: #7C92FD;
}

.destination-name {
  width: 100%;
}

/* .destination-card:hover, 
h3:hover,
h4:hover {
  background-color: #FFC8C8;
} */